body {
  padding-top: 50px;
}
.center-alligned {
  padding: 30px 2px;
  text-align: center;
}

.padded {
  padding: 30px 30px;
  text-align: center;
}

.left-alligned {
  padding: 30px 2px;
  text-align: left;
}

.right-alligned {
  padding: 30px 2px;
  text-align: right;
}